# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Build
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# OS specific
.DS_Store
.DS_Store?

# Environments
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Whisper models (cached by the library)
~/.cache/whisper/
